:root {
  --vp-c-indigo-1: #b2346b;
  --vp-c-indigo-2: #cc3979;
  --vp-c-indigo-3: #cc5689;
  --vp-c-indigo-soft: rgba(255, 99, 167, 0.14);
}

.dark {
  --vp-c-indigo-1: #ffa8c2;
  --vp-c-indigo-2: #e85d90;
  --vp-c-indigo-3: #de3e83;
  --vp-c-indigo-soft: rgba(255, 99, 167, 0.16);
}

.VPHero .name, .VPHero .text {
  line-height: 40px;
  font-size: 32px;
}

.VPHero .tagline {
  line-height: 28px;
  font-size: 18px;
}

.VPHero .image-src {
  min-width: 192px;
  max-width: 192px;
}

.vp-doc h2 {
  margin: 16px 0 16px;
}
