:root {
  --vp-c-indigo-1: #187873;
  --vp-c-indigo-2: #29968f;
  --vp-c-indigo-3: #2fa39a;
  --vp-c-indigo-soft: rgba(17, 175, 186, 0.14);
}

.dark {
  --vp-c-indigo-1: #3ed6c9;
  --vp-c-indigo-2: #2fa399;
  --vp-c-indigo-3: #29857f;
  --vp-c-indigo-soft: rgba(17, 175, 186, 0.16);
}

.VPHero .name, .VPHero .text {
  line-height: 40px;
  font-size: 32px;
}

.VPHero .tagline {
  line-height: 28px;
  font-size: 18px;
}

.VPHero .image-src {
  min-width: 192px;
  max-width: 192px;
}

.vp-doc h2 {
  margin: 16px 0 16px;
}
