:root {
  --background: #ffffff;
  --background-alt: #f1f2f3;
  --text-1: #18191c;
  --text-2: #61666d;
  --text-3: #9499a0;
  --brand-1: #ff6699;
  --brand-2: #ff8cb0;
  --brand-soft: rgba(255, 102, 153, 0.14);
  --brand-alt-1: #00aeec;
  --brand-alt-2: #40c5f1;
  --brand-alt-soft: rgba(0, 174, 236, 0.14);
  --border: #e3e5e7;
}

.dark {
  --background: #0e0e0e;
  --background-alt: #18191c;
  --text-1: #f6f7f8;
  --text-2: #c9ccd0;
  --text-3: #9499a0;
  --brand-soft: rgba(255, 102, 153, 0.16);
  --brand-alt-soft: rgba(0, 174, 236, 0.16);
  --border: #2f3238;
}

:root {
  --vp-font-family-base: Arial, "Microsoft YaHei", sans-serif;
  --vp-font-family-mono: "Cascadia Mono", Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

:root {
  --vp-c-bg: var(--background);
  --vp-c-bg-alt: var(--background-alt);
  --vp-c-bg-elv: var(--background-alt);
  --vp-c-bg-soft: var(--background-alt);

  --vp-c-border: var(--border);
  --vp-c-divider: var(--border);
  --vp-c-gutter: var(--border);

  --vp-c-text-1: var(--text-1);
  --vp-c-text-2: var(--text-2);
  --vp-c-text-3: var(--text-3);

  --vp-c-brand-1: var(--brand-1);
  --vp-c-brand-2: var(--brand-2);
  --vp-c-brand-3: var(--brand-1);
  --vp-c-brand-soft: var(--brand-soft);

  --vp-c-tip-1: var(--brand-alt-1);
  --vp-c-tip-2: var(--brand-alt-2);
  --vp-c-tip-3: var(--brand-alt-1);
  --vp-c-tip-soft: var(--brand-alt-soft);
}

* {
  border-radius: 0 !important;
}

.VPHero .text {
  line-height: 32px !important;
  font-size: 16px !important;
}

.VPHero .tagline {
  line-height: 16px !important;
  font-size: 12px !important;
  font-family: "PingFang SC", "Helvetica Neue", Helvetica, Arial,
    "Microsoft YaHei", sans-serif;
}

@media (min-width: 640px) {
  .VPHero .text {
    line-height: 40px !important;
    font-size: 24px !important;
  }

  .VPHero .tagline {
    line-height: 20px !important;
    font-size: 14px !important;
  }
}

@media (min-width: 960px) {
  .VPHero .text {
    line-height: 48px !important;
    font-size: 32px !important;
  }

  .VPHero .tagline {
    line-height: 24px !important;
    font-size: 16px !important;
  }
}
