:root {
  /* Palette */
  --color-dark: #141413;
  --color-light: #faf9f5;
  --color-mid-gray: #b0aea5;
  --color-light-gray: #e8e6dc;
  --color-oat: #e3dacc;
  --color-olive: #788c5d;
  --color-cactus: #bcd1ca;
  --color-sky: #6a9bcc;
  --color-heather: #cbcadb;
  --color-fig: #c46686;
  --color-coral: #ebcece;
  --color-clay: #d97757;

  /* Brand colors */
  --vp-c-brand-1: var(--color-clay);
  --vp-c-brand-2: #c96442;
  --vp-c-brand-3: #b04f2c;
  --vp-c-brand-soft: color-mix(in srgb, var(--color-clay) 16%, transparent);

  /* Backgrounds */
  --vp-c-bg: var(--color-dark);

  /* Text */
  --vp-c-text-1: var(--color-light);
  --vp-c-text-2: #f5f4ed;
  --vp-c-text-3: #f0eee6;
}

.VPNavBar.home {
  background-color: var(--vp-nav-bg-color);
}

.VPNavBar .divider .divider-line {
  background-color: var(--vp-c-divider) !important;
}

.VPHome {
  margin-bottom: 32px !important;
}

/* prettier-ignore */
.VPHome .VPHero {
  background-image:
    linear-gradient(90deg, rgba(250, 249, 245, 0.06) 1px, #0000 1px),
    linear-gradient(rgba(250, 249, 245, 0.06) 1px, #0000 1px);
  background-size: 16px 16px;
  border-bottom: 1px solid var(--vp-c-border);
  padding: calc(var(--vp-nav-height) + var(--vp-layout-top-height, 0px) + 24px) 0 24px !important;
}

.VPHome .VPHero .container {
  max-width: 768px;
  padding: 0 24px;
}

@media (min-width: 640px) {
  .VPHome .VPHero .container {
    padding: 0 48px;
  }
}

@media (min-width: 960px) {
  .VPHome .VPHero .container {
    padding: 0 64px;
  }
}

.VPHome .VPHero .spinner {
  font-family: var(--vp-font-family-mono);
  padding-left: 8px;
  -webkit-text-fill-color: var(--vp-c-text-3);
}

.VPHome .VPHero .spinner::after {
  content: "";
  display: inline-block;
  animation: spinner 1s infinite ease;
}

@keyframes spinner {
  0%,
  100% {
    content: "|";
  }
  25% {
    content: "/";
  }
  50% {
    content: "—";
  }
  75% {
    content: "\\";
  }
}

.VPHome .VPHero .name {
  line-height: 1.5;
  font-size: 32px;
  letter-spacing: unset;
}

.VPHome .VPHero .text {
  line-height: 1.5;
  font-size: 16px;
  padding-top: 8px !important;
}

.VPHome .VPHero .tagline {
  line-height: 1.5;
  font-size: 14px;
  padding-top: 8px !important;
}

.VPHome .vp-doc.container {
  max-width: 768px;
  margin-top: 24px !important;
  margin-bottom: 32px !important;
}

.VPFooter {
  padding-top: 16px !important;
  padding-bottom: 16px !important;
}

.VPFooter .container {
  display: flex;
  justify-content: space-between;
}

.VPFooter .message,
.VPFooter .copyright {
  font-family: var(--vp-font-family-mono);
  font-size: 12px;
}

.custom-page .VPSkipLink,
.custom-page .VPLocalNav {
  display: none !important;
}

.terminal-content div[class*="language-"] {
  margin: 0 !important;
}

.terminal-content [class*="language-"] pre,
.terminal-content [class*="language-"] code {
  padding: 0;
}

.terminal-content [class*="language-"] > button.copy,
.terminal-content [class*="language-"] > span.lang {
  display: none;
}
