@import "color.css";

:root {
  --brand: var(--Ba0);
  --brand-soft: rgba(var(--Ba0_rgb), 0.14);
  --brand-negative: var(--Wh0);
  --brand-negative-soft: rgba(var(--Wh0_rgb), 0.14);
  --border: var(--Ga3);
  --divider: var(--Ga2);
  --gutter: var(--Ga2);
  --grid: var(--Ga1);

  --vp-c-gray-1: var(--Ga4);
  --vp-c-gray-2: var(--Ga3);
  --vp-c-gray-3: var(--Ga2);
  --vp-c-gray-soft: rgba(var(--Ga4_rgb), 0.14);
  --vp-c-indigo-1: var(--Bl5);
  --vp-c-indigo-2: var(--Bl4);
  --vp-c-indigo-3: var(--Bl3);
  --vp-c-indigo-soft: rgba(var(--Bl5_rgb), 0.14);
  --vp-c-purple-1: var(--Pu5);
  --vp-c-purple-2: var(--Pu4);
  --vp-c-purple-3: var(--Pu3);
  --vp-c-purple-soft: rgba(var(--Pu5_rgb), 0.14);
  --vp-c-green-1: var(--Gr5);
  --vp-c-green-2: var(--Gr4);
  --vp-c-green-3: var(--Gr3);
  --vp-c-green-soft: rgba(var(--Gr5_rgb), 0.14);
  --vp-c-yellow-1: var(--Ye5);
  --vp-c-yellow-2: var(--Ye4);
  --vp-c-yellow-3: var(--Ye3);
  --vp-c-yellow-soft: rgba(var(--Ye5_rgb), 0.14);
  --vp-c-red-1: var(--Re5);
  --vp-c-red-2: var(--Re4);
  --vp-c-red-3: var(--Re3);
  --vp-c-red-soft: rgba(var(--Re5_rgb), 0.14);
}

.dark {
  --brand: var(--Wh0);
  --brand-soft: rgba(var(--Wh0_rgb), 0.16);
  --brand-negative: var(--Ba0);
  --brand-negative-soft: rgba(var(--Ba0_rgb), 0.16);
  --border: var(--Ga8);
  --divider: var(--Ga9);
  --gutter: var(--Ga9);
  --grid: var(--Ga10);

  --vp-c-gray-1: var(--Ga7);
  --vp-c-gray-2: var(--Ga8);
  --vp-c-gray-3: var(--Ga9);
  --vp-c-gray-soft: rgba(var(--Ga7_rgb), 0.16);
  --vp-c-indigo-1: var(--Bl5);
  --vp-c-indigo-2: var(--Bl6);
  --vp-c-indigo-3: var(--Bl7);
  --vp-c-indigo-soft: rgba(var(--Bl5_rgb), 0.16);
  --vp-c-purple-1: var(--Pu5);
  --vp-c-purple-2: var(--Pu6);
  --vp-c-purple-3: var(--Pu7);
  --vp-c-purple-soft: rgba(var(--Pu5_rgb), 0.16);
  --vp-c-green-1: var(--Gr5);
  --vp-c-green-2: var(--Gr6);
  --vp-c-green-3: var(--Gr7);
  --vp-c-green-soft: rgba(var(--Gr5_rgb), 0.16);
  --vp-c-yellow-1: var(--Ye5);
  --vp-c-yellow-2: var(--Ye6);
  --vp-c-yellow-3: var(--Ye7);
  --vp-c-yellow-soft: rgba(var(--Ye5_rgb), 0.16);
  --vp-c-red-1: var(--Re5);
  --vp-c-red-2: var(--Re6);
  --vp-c-red-3: var(--Re7);
  --vp-c-red-soft: rgba(var(--Re5_rgb), 0.16);
}

:root {
  --vp-font-family-base: Inter, "Noto Sans SC", sans-serif;
  --vp-font-family-mono: "Cascadia Mono", monospace;
  --vp-c-bg: var(--brand-negative);
  --vp-c-border: var(--border);
  --vp-c-divider: var(--divider);
  --vp-c-gutter: var(--gutter);
  --vp-c-brand-1: var(--brand);
  --vp-c-brand-2: var(--brand);
  --vp-c-brand-3: var(--brand);
  --vp-c-brand-soft: var(--brand-soft);
  --vp-c-tip-1: var(--vp-c-indigo-1);
  --vp-c-tip-2: var(--vp-c-indigo-2);
  --vp-c-tip-3: var(--vp-c-indigo-3);
  --vp-c-tip-soft: var(--vp-c-indigo-soft);
  --vp-c-note-1: var(--vp-c-indigo-1);
  --vp-c-note-2: var(--vp-c-indigo-2);
  --vp-c-note-3: var(--vp-c-indigo-3);
  --vp-c-note-soft: var(--vp-c-indigo-soft);
}

* {
  border-radius: 0 !important;
}

.VPNavBar.home {
  background-color: var(--vp-nav-bg-color) !important;
  border-bottom: 1px solid var(--vp-c-divider) !important;
}

.VPNavBarTitle a.title {
  color: var(--brand) !important;
}

.VPNavBarMenuLink {
  color: var(--vp-c-text-2) !important;
}

.VPNavBarMenuLink.active,
.VPNavBarMenuLink:hover {
  color: var(--brand) !important;
}

.VPHome {
  margin-bottom: unset !important;
}

.VPHero {
  background-image: linear-gradient(90deg, var(--grid) 1px, #0000 1px),
    linear-gradient(var(--grid) 1px, #0000 1px);
  background-size: 1rem 1rem;
  border-bottom: 1px solid var(--vp-c-divider);
}

.VPHero .heading {
  gap: 0.5rem;
  color: var(--brand);
}

.VPHero .name .spinner {
  font-family: "Cascadia Mono", monospace;
  padding-left: 1rem;
  -webkit-text-fill-color: var(--vp-c-gray-2);
}

.VPHero .name .spinner::after {
  content: "";
  display: inline-block;
  width: 1em;
  animation: spinner 1s infinite ease;
}

@keyframes spinner {
  0%,
  100% {
    content: "|";
  }
  25% {
    content: "/";
  }
  50% {
    content: "—";
  }
  75% {
    content: "\\";
  }
}

.VPHero .name {
  line-height: 2.5rem;
  font-size: 2rem;
}

@media (min-width: 640px) {
  .VPHero .name {
    line-height: 3rem;
    font-size: 2.5rem;
  }
}

.VPHero .text {
  line-height: 2rem;
  font-size: 1.5rem;
}

.VPHero .tagline {
  line-height: 1.25rem;
  font-size: 0.75rem;
}

.VPHome .vp-doc.container {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.VPFooter {
  padding: 1.5rem 1.5rem;
}

.VPFooter .container {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  max-width: calc(var(--vp-layout-max-width) - 4rem);
}

.VPFooter .message,
.VPFooter .copyright {
  font-family: "Cascadia Mono", monospace;
  font-size: 0.75rem;
}

.VPFooter a {
  text-decoration-line: none !important;
}

/* prettier-ignore */
.VPButton[href*="github.com"]:not(:is(.no-icon, svg a, :has(img, svg)))::before {
  content: "";
  display: inline-block;
  vertical-align: text-top;
  margin-right: 4px;
  width: 16px;
  height: 16px;
  background: currentColor;
  color: var(--vp-button-alt-text);
  flex-shrink: 0;
  --icon: url('https://api.iconify.design/simple-icons/github.svg');
  -webkit-mask-image: var(--icon);
  mask-image: var(--icon);
  mask-size: 100% 100%;
}

/* prettier-ignore */
:is(.VPButton[href*='://'], .VPButton[target='_blank']):not(:is(.no-icon, svg a, :has(img, svg)))::after {
  content: "";
  display: inline-block;
  margin-top: -1px;
  margin-left: 4px;
  width: 11px;
  height: 11px;
  background: currentColor;
  color: var(--vp-c-text-3);
  flex-shrink: 0;
  --icon: url("data:image/svg+xml, %3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' %3E%3Cpath d='M0 0h24v24H0V0z' fill='none' /%3E%3Cpath d='M9 5v2h6.59L4 18.59 5.41 20 17 8.41V15h2V5H9z' /%3E%3C/svg%3E");
  -webkit-mask-image: var(--icon);
  mask-image: var(--icon);
}
