:root {
  --vp-font-family-base: Inter, sans-serif;
  --vp-font-family-mono: "Cascadia Mono", monospace;

  --vp-c-border: #c2c2c4;
  --vp-c-divider: #e2e2e3;
  --vp-c-gutter: #e2e2e3;

  --vp-c-text-1: #3c3c43;
  --vp-c-text-2: #67676c;
  --vp-c-text-3: #929295;

  --vp-c-brand-1: #000;
  --vp-c-brand-2: #000;
  --vp-c-brand-3: #000;
  --vp-c-brand-soft: rgba(0, 0, 0, 0.14);

  --border-color: #dedede;
}

* {
  border-radius: 0 !important;
}

.VPNavBarMenuLink {
  color: #b0b0b0 !important;
}

.VPNavBarMenuLink.active,
.VPNavBarMenuLink:hover {
  color: #4f4f4f !important;
}

.VPHome {
  margin-bottom: 64px !important;
}

.VPHero {
  background-image: linear-gradient(90deg, #f6f6f6 1px, #0000 1px),
    linear-gradient(#f6f6f6 1px, #0000 1px) !important;
  background-size: 14px 14px !important;
  border-bottom: 1px solid var(--border-color) !important;
}

.VPHero .heading {
  gap: 4px !important;
}

.VPHero .name {
  line-height: 48px !important;
  font-size: 40px !important;
}

.VPHero .text {
  line-height: 32px !important;
  font-size: 24px !important;
}

.VPHero .tagline {
  line-height: 20px !important;
  font-size: 12px !important;
}

@media (min-width: 640px) {
  .VPHero .name {
    line-height: 56px !important;
    font-size: 48px !important;
  }

  .VPHero .text {
    line-height: 32px !important;
    font-size: 24px !important;
  }
}

@media (min-width: 960px) {
  .VPHero .name {
    line-height: 64px !important;
    font-size: 56px !important;
  }

  .VPHero .text {
    line-height: 32px !important;
    font-size: 24px !important;
  }
}

/* prettier-ignore */
:is(.VPButton[href*='://'], .VPButton[target='_blank']):not(:is(.no-icon, svg a, :has(img, svg)))::after {
  display: inline-block;
  margin-top: -1px;
  margin-left: 4px;
  width: 11px;
  height: 11px;
  background: currentColor;
  color: var(--vp-c-text-3);
  flex-shrink: 0;
  --icon: url("data:image/svg+xml, %3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' %3E%3Cpath d='M0 0h24v24H0V0z' fill='none' /%3E%3Cpath d='M9 5v2h6.59L4 18.59 5.41 20 17 8.41V15h2V5H9z' /%3E%3C/svg%3E");
  -webkit-mask-image: var(--icon);
  mask-image: var(--icon);
}

.VPButton::after {
  content: "";
}
