:root {
  --Ga0: #f6f7f8;
  --Ga0_s: #f6f7f8;
  --Ga0_t: #f6f7f8;
  --Ga1: #f1f2f3;
  --Ga1_s: #f1f2f3;
  --Ga1_t: #f1f2f3;
  --Ga1_e: #f1f2f3;
  --Ga2: #e3e5e7;
  --Ga2_t: #e3e5e7;
  --Ga3: #c9ccd0;
  --Ga3_t: #c9ccd0;
  --Ga4: #aeb3b9;
  --Ga4_t: #aeb3b9;
  --Ga5: #9499a0;
  --Ga5_t: #9499a0;
  --Ga6: #797f87;
  --Ga6_t: #797f87;
  --Ga7: #61666d;
  --Ga7_t: #61666d;
  --Ga8: #484c53;
  --Ga8_t: #484c53;
  --Ga9: #2f3238;
  --Ga9_t: #2f3238;
  --Ga10: #18191c;
  --Ga10_t: #18191c;
  --Ga11: #ffffff;
  --Ga12: #f1f2f3;
  --Ga12_s: #f6f7f8;
  --Ga13: #f1f2f3;
  --Ga13_s: #f1f2f3;
  --Wh0: #ffffff;
  --Wh0_s: #ffffff;
  --Wh0_t: #ffffff;
  --Ba0: #000000;
  --Ba0_s: #000000;
  --Ba0_t: #000000;
  --Pi0: #fff3f6;
  --Pi1: #ffecf1;
  --Pi2: #ffd9e4;
  --Pi3: #ffb3ca;
  --Pi4: #ff8cb0;
  --Pi5: #ff6699;
  --Pi5_t: #ff6699;
  --Pi6: #e84b85;
  --Pi7: #d03171;
  --Pi8: #ad1c5b;
  --Pi9: #771141;
  --Pi10: #3f0723;
  --Ma0: #fef3fc;
  --Ma1: #fdebfa;
  --Ma2: #fbd7f4;
  --Ma3: #f7aeeb;
  --Ma4: #f286e2;
  --Ma5: #ee5ddb;
  --Ma6: #da41cb;
  --Ma7: #c525ba;
  --Ma8: #9b1797;
  --Ma9: #670f67;
  --Ma10: #330834;
  --Re0: #fef3f2;
  --Re1: #feecea;
  --Re2: #fdd7d4;
  --Re3: #fcafaa;
  --Re4: #fa857f;
  --Re5: #f85a54;
  --Re6: #e23d3d;
  --Re7: #c9272c;
  --Re8: #9f1922;
  --Re9: #710e18;
  --Re10: #3b060d;
  --Or0: #fff6ee;
  --Or1: #fff0e3;
  --Or2: #ffe1c7;
  --Or3: #ffc18f;
  --Or4: #ffa058;
  --Or5: #ff7f24;
  --Or6: #e95b03;
  --Or7: #bb4100;
  --Or8: #8d2d00;
  --Or9: #5e1b00;
  --Or10: #2f0c00;
  --Ye0: #fffaef;
  --Ye1: #fff6e4;
  --Ye2: #ffeec9;
  --Ye3: #ffdb93;
  --Ye4: #ffc65d;
  --Ye5: #ffb027;
  --Ye6: #fa9600;
  --Ye7: #c26e00;
  --Ye8: #8a4a00;
  --Ye9: #5b2e00;
  --Ye10: #2f1600;
  --Ly0: #fffcec;
  --Ly1: #fffadf;
  --Ly2: #fff5bf;
  --Ly3: #ffea80;
  --Ly4: #ffdc40;
  --Ly5: #ffcc00;
  --Ly6: #d5a300;
  --Ly7: #aa7d00;
  --Ly8: #805a00;
  --Ly9: #553900;
  --Ly10: #2b1b00;
  --Lg0: #f7fbef;
  --Lg1: #f2f9e4;
  --Lg2: #e3f2c8;
  --Lg3: #c7e691;
  --Lg4: #a9d95b;
  --Lg5: #88cc24;
  --Lg6: #66b105;
  --Lg7: #4e8e04;
  --Lg8: #376a03;
  --Lg9: #224702;
  --Lg10: #102301;
  --Gr0: #effbf3;
  --Gr1: #e4f8ea;
  --Gr2: #caf1d6;
  --Gr3: #95e4af;
  --Gr4: #5fd689;
  --Gr5: #2ac864;
  --Gr6: #0eb350;
  --Gr7: #089043;
  --Gr8: #046e35;
  --Gr9: #034926;
  --Gr10: #012414;
  --Cy0: #edfbfb;
  --Cy1: #e2f8f8;
  --Cy2: #c4eff0;
  --Cy3: #89e1e1;
  --Cy4: #4fd3d1;
  --Cy5: #14c4bf;
  --Cy6: #02aaaa;
  --Cy7: #018488;
  --Cy8: #015f66;
  --Cy9: #013d44;
  --Cy10: #001d22;
  --Lb0: #ecfafe;
  --Lb1: #dff6fd;
  --Lb2: #bfedfa;
  --Lb3: #80daf6;
  --Lb4: #40c5f1;
  --Lb5: #00aeec;
  --Lb6: #008ac5;
  --Lb7: #00699d;
  --Lb8: #004b76;
  --Lb9: #002f4f;
  --Lb10: #001627;
  --Bl0: #f3f5ff;
  --Bl1: #ebefff;
  --Bl2: #d7dfff;
  --Bl3: #b0c1ff;
  --Bl4: #88a4ff;
  --Bl5: #6188ff;
  --Bl6: #4c6de4;
  --Bl7: #3752c8;
  --Bl8: #2136ac;
  --Bl9: #121f7f;
  --Bl10: #080d41;
  --Pu0: #f9f4ff;
  --Pu1: #f6edff;
  --Pu2: #eddbff;
  --Pu3: #d8b6ff;
  --Pu4: #c392ff;
  --Pu5: #ac6dff;
  --Pu6: #8f56e4;
  --Pu7: #723ecc;
  --Pu8: #5627b3;
  --Pu9: #371683;
  --Pu10: #190a44;
  --Br0: #faf8f6;
  --Br1: #f7f3f0;
  --Br2: #efe7e0;
  --Br3: #e0cfc1;
  --Br4: #d0b7a3;
  --Br5: #c19d84;
  --Br6: #a5816a;
  --Br7: #856553;
  --Br8: #634a3e;
  --Br9: #423029;
  --Br10: #211815;
  --Si0: #f9fbfc;
  --Si1: #f5f7fa;
  --Si2: #ebeff4;
  --Si3: #d7e0ea;
  --Si4: #c3d0df;
  --Si5: #afc0d5;
  --Si6: #8d9fb9;
  --Si7: #6d7f9c;
  --Si8: #4d5d7c;
  --Si9: #323d54;
  --Si10: #191e2b;
  --Ga0_rgb: 246, 247, 248;
  --Ga0_s_rgb: 246, 247, 248;
  --Ga0_t_rgb: 246, 247, 248;
  --Ga1_rgb: 241, 242, 243;
  --Ga1_s_rgb: 241, 242, 243;
  --Ga1_t_rgb: 241, 242, 243;
  --Ga1_e_rgb: 241, 242, 243;
  --Ga2_rgb: 227, 229, 231;
  --Ga2_t_rgb: 227, 229, 231;
  --Ga3_rgb: 201, 204, 208;
  --Ga3_t_rgb: 201, 204, 208;
  --Ga4_rgb: 174, 179, 185;
  --Ga4_t_rgb: 174, 179, 185;
  --Ga5_rgb: 148, 153, 160;
  --Ga5_t_rgb: 148, 153, 160;
  --Ga6_rgb: 121, 127, 135;
  --Ga6_t_rgb: 121, 127, 135;
  --Ga7_rgb: 97, 102, 109;
  --Ga7_t_rgb: 97, 102, 109;
  --Ga8_rgb: 72, 76, 83;
  --Ga8_t_rgb: 72, 76, 83;
  --Ga9_rgb: 47, 50, 56;
  --Ga9_t_rgb: 47, 50, 56;
  --Ga10_rgb: 24, 25, 28;
  --Ga10_t_rgb: 24, 25, 28;
  --Ga11_rgb: 255, 255, 255;
  --Ga12_rgb: 241, 242, 243;
  --Ga12_s_rgb: 246, 247, 248;
  --Ga13_rgb: 241, 242, 243;
  --Ga13_s_rgb: 241, 242, 243;
  --Wh0_rgb: 255, 255, 255;
  --Wh0_s_rgb: 255, 255, 255;
  --Wh0_t_rgb: 255, 255, 255;
  --Ba0_rgb: 0, 0, 0;
  --Ba0_s_rgb: 0, 0, 0;
  --Ba0_t_rgb: 0, 0, 0;
  --Pi0_rgb: 255, 243, 246;
  --Pi1_rgb: 255, 236, 241;
  --Pi2_rgb: 255, 217, 228;
  --Pi3_rgb: 255, 179, 202;
  --Pi4_rgb: 255, 140, 176;
  --Pi5_rgb: 255, 102, 153;
  --Pi5_t_rgb: 255, 102, 153;
  --Pi6_rgb: 232, 75, 133;
  --Pi7_rgb: 208, 49, 113;
  --Pi8_rgb: 173, 28, 91;
  --Pi9_rgb: 119, 17, 65;
  --Pi10_rgb: 63, 7, 35;
  --Ma0_rgb: 254, 243, 252;
  --Ma1_rgb: 253, 235, 250;
  --Ma2_rgb: 251, 215, 244;
  --Ma3_rgb: 247, 174, 235;
  --Ma4_rgb: 242, 134, 226;
  --Ma5_rgb: 238, 93, 219;
  --Ma6_rgb: 218, 65, 203;
  --Ma7_rgb: 197, 37, 186;
  --Ma8_rgb: 155, 23, 151;
  --Ma9_rgb: 103, 15, 103;
  --Ma10_rgb: 51, 8, 52;
  --Re0_rgb: 254, 243, 242;
  --Re1_rgb: 254, 236, 234;
  --Re2_rgb: 253, 215, 212;
  --Re3_rgb: 252, 175, 170;
  --Re4_rgb: 250, 133, 127;
  --Re5_rgb: 248, 90, 84;
  --Re6_rgb: 226, 61, 61;
  --Re7_rgb: 201, 39, 44;
  --Re8_rgb: 159, 25, 34;
  --Re9_rgb: 113, 14, 24;
  --Re10_rgb: 59, 6, 13;
  --Or0_rgb: 255, 246, 238;
  --Or1_rgb: 255, 240, 227;
  --Or2_rgb: 255, 225, 199;
  --Or3_rgb: 255, 193, 143;
  --Or4_rgb: 255, 160, 88;
  --Or5_rgb: 255, 127, 36;
  --Or6_rgb: 233, 91, 3;
  --Or7_rgb: 187, 65, 0;
  --Or8_rgb: 141, 45, 0;
  --Or9_rgb: 94, 27, 0;
  --Or10_rgb: 47, 12, 0;
  --Ye0_rgb: 255, 250, 239;
  --Ye1_rgb: 255, 246, 228;
  --Ye2_rgb: 255, 238, 201;
  --Ye3_rgb: 255, 219, 147;
  --Ye4_rgb: 255, 198, 93;
  --Ye5_rgb: 255, 176, 39;
  --Ye6_rgb: 250, 150, 0;
  --Ye7_rgb: 194, 110, 0;
  --Ye8_rgb: 138, 74, 0;
  --Ye9_rgb: 91, 46, 0;
  --Ye10_rgb: 47, 22, 0;
  --Ly0_rgb: 255, 252, 236;
  --Ly1_rgb: 255, 250, 223;
  --Ly2_rgb: 255, 245, 191;
  --Ly3_rgb: 255, 234, 128;
  --Ly4_rgb: 255, 220, 64;
  --Ly5_rgb: 255, 204, 0;
  --Ly6_rgb: 213, 163, 0;
  --Ly7_rgb: 170, 125, 0;
  --Ly8_rgb: 128, 90, 0;
  --Ly9_rgb: 85, 57, 0;
  --Ly10_rgb: 43, 27, 0;
  --Lg0_rgb: 247, 251, 239;
  --Lg1_rgb: 242, 249, 228;
  --Lg2_rgb: 227, 242, 200;
  --Lg3_rgb: 199, 230, 145;
  --Lg4_rgb: 169, 217, 91;
  --Lg5_rgb: 136, 204, 36;
  --Lg6_rgb: 102, 177, 5;
  --Lg7_rgb: 78, 142, 4;
  --Lg8_rgb: 55, 106, 3;
  --Lg9_rgb: 34, 71, 2;
  --Lg10_rgb: 16, 35, 1;
  --Gr0_rgb: 239, 251, 243;
  --Gr1_rgb: 228, 248, 234;
  --Gr2_rgb: 202, 241, 214;
  --Gr3_rgb: 149, 228, 175;
  --Gr4_rgb: 95, 214, 137;
  --Gr5_rgb: 42, 200, 100;
  --Gr6_rgb: 14, 179, 80;
  --Gr7_rgb: 8, 144, 67;
  --Gr8_rgb: 4, 110, 53;
  --Gr9_rgb: 3, 73, 38;
  --Gr10_rgb: 1, 36, 20;
  --Cy0_rgb: 237, 251, 251;
  --Cy1_rgb: 226, 248, 248;
  --Cy2_rgb: 196, 239, 240;
  --Cy3_rgb: 137, 225, 225;
  --Cy4_rgb: 79, 211, 209;
  --Cy5_rgb: 20, 196, 191;
  --Cy6_rgb: 2, 170, 170;
  --Cy7_rgb: 1, 132, 136;
  --Cy8_rgb: 1, 95, 102;
  --Cy9_rgb: 1, 61, 68;
  --Cy10_rgb: 0, 29, 34;
  --Lb0_rgb: 236, 250, 254;
  --Lb1_rgb: 223, 246, 253;
  --Lb2_rgb: 191, 237, 250;
  --Lb3_rgb: 128, 218, 246;
  --Lb4_rgb: 64, 197, 241;
  --Lb5_rgb: 0, 174, 236;
  --Lb6_rgb: 0, 138, 197;
  --Lb7_rgb: 0, 105, 157;
  --Lb8_rgb: 0, 75, 118;
  --Lb9_rgb: 0, 47, 79;
  --Lb10_rgb: 0, 22, 39;
  --Bl0_rgb: 243, 245, 255;
  --Bl1_rgb: 235, 239, 255;
  --Bl2_rgb: 215, 223, 255;
  --Bl3_rgb: 176, 193, 255;
  --Bl4_rgb: 136, 164, 255;
  --Bl5_rgb: 97, 136, 255;
  --Bl6_rgb: 76, 109, 228;
  --Bl7_rgb: 55, 82, 200;
  --Bl8_rgb: 33, 54, 172;
  --Bl9_rgb: 18, 31, 127;
  --Bl10_rgb: 8, 13, 65;
  --Pu0_rgb: 249, 244, 255;
  --Pu1_rgb: 246, 237, 255;
  --Pu2_rgb: 237, 219, 255;
  --Pu3_rgb: 216, 182, 255;
  --Pu4_rgb: 195, 146, 255;
  --Pu5_rgb: 172, 109, 255;
  --Pu6_rgb: 143, 86, 228;
  --Pu7_rgb: 114, 62, 204;
  --Pu8_rgb: 86, 39, 179;
  --Pu9_rgb: 55, 22, 131;
  --Pu10_rgb: 25, 10, 68;
  --Br0_rgb: 250, 248, 246;
  --Br1_rgb: 247, 243, 240;
  --Br2_rgb: 239, 231, 224;
  --Br3_rgb: 224, 207, 193;
  --Br4_rgb: 208, 183, 163;
  --Br5_rgb: 193, 157, 132;
  --Br6_rgb: 165, 129, 106;
  --Br7_rgb: 133, 101, 83;
  --Br8_rgb: 99, 74, 62;
  --Br9_rgb: 66, 48, 41;
  --Br10_rgb: 33, 24, 21;
  --Si0_rgb: 249, 251, 252;
  --Si1_rgb: 245, 247, 250;
  --Si2_rgb: 235, 239, 244;
  --Si3_rgb: 215, 224, 234;
  --Si4_rgb: 195, 208, 223;
  --Si5_rgb: 175, 192, 213;
  --Si6_rgb: 141, 159, 185;
  --Si7_rgb: 109, 127, 156;
  --Si8_rgb: 77, 93, 124;
  --Si9_rgb: 50, 61, 84;
  --Si10_rgb: 25, 30, 43;
}

:root {
  --background: var(--Wh0);
  --brand: var(--Ba0);
  --brand-soft: rgba(var(--Ba0_rgb), 0.14);

  --border: var(--Ga3);
  --divider: var(--Ga2);
  --gutter: var(--Ga2);
  --grid: var(--Ga1);

  --vp-c-indigo-1: var(--Bl6);
  --vp-c-indigo-2: var(--Bl5);
  --vp-c-indigo-3: var(--Bl4);
  --vp-c-indigo-soft: rgba(var(--Bl5_rgb), 0.14);
  --vp-c-purple-1: var(--Pu6);
  --vp-c-purple-2: var(--Pu5);
  --vp-c-purple-3: var(--Pu4);
  --vp-c-purple-soft: rgba(var(--Pu5_rgb), 0.14);
  --vp-c-green-1: var(--Gr6);
  --vp-c-green-2: var(--Gr5);
  --vp-c-green-3: var(--Gr4);
  --vp-c-green-soft: rgba(var(--Gr5_rgb), 0.14);
  --vp-c-yellow-1: var(--Ye6);
  --vp-c-yellow-2: var(--Ye5);
  --vp-c-yellow-3: var(--Ye4);
  --vp-c-yellow-soft: rgba(var(--Ye5_rgb), 0.14);
  --vp-c-red-1: var(--Re6);
  --vp-c-red-2: var(--Re5);
  --vp-c-red-3: var(--Re4);
  --vp-c-red-soft: rgba(var(--Re5_rgb), 0.14);
}

.dark {
  --background: var(--Ba0);
  --brand: var(--Wh0);
  --brand-soft: rgba(var(--Wh0_rgb), 0.16);

  --border: var(--Ga8);
  --divider: var(--Ga9);
  --gutter: var(--Ga9);
  --grid: var(--Ga10);

  --vp-c-indigo-1: var(--Bl5);
  --vp-c-indigo-2: var(--Bl6);
  --vp-c-indigo-3: var(--Bl7);
  --vp-c-indigo-soft: rgba(var(--Bl5_rgb), 0.16);
  --vp-c-purple-1: var(--Pu5);
  --vp-c-purple-2: var(--Pu6);
  --vp-c-purple-3: var(--Pu7);
  --vp-c-purple-soft: rgba(var(--Pu5_rgb), 0.16);
  --vp-c-green-1: var(--Gr5);
  --vp-c-green-2: var(--Gr6);
  --vp-c-green-3: var(--Gr7);
  --vp-c-green-soft: rgba(var(--Gr5_rgb), 0.16);
  --vp-c-yellow-1: var(--Ye5);
  --vp-c-yellow-2: var(--Ye6);
  --vp-c-yellow-3: var(--Ye7);
  --vp-c-yellow-soft: rgba(var(--Ye5_rgb), 0.16);
  --vp-c-red-1: var(--Re5);
  --vp-c-red-2: var(--Re6);
  --vp-c-red-3: var(--Re7);
  --vp-c-red-soft: rgba(var(--Re5_rgb), 0.16);
}

:root {
  --vp-font-family-base: Inter, "Noto Sans SC", sans-serif;
  --vp-font-family-mono: "Cascadia Mono", monospace;
}

:root {
  --vp-c-bg: var(--background);

  --vp-c-border: var(--border);
  --vp-c-divider: var(--divider);
  --vp-c-gutter: var(--gutter);

  --vp-c-brand-1: var(--brand);
  --vp-c-brand-2: var(--brand);
  --vp-c-brand-3: var(--brand);
  --vp-c-brand-soft: var(--brand-soft);

  --vp-c-tip-1: var(--vp-c-indigo-1);
  --vp-c-tip-2: var(--vp-c-indigo-2);
  --vp-c-tip-3: var(--vp-c-indigo-3);
  --vp-c-tip-soft: var(--vp-c-indigo-soft);

  --vp-c-note-1: var(--vp-c-indigo-1);
  --vp-c-note-2: var(--vp-c-indigo-2);
  --vp-c-note-3: var(--vp-c-indigo-3);
  --vp-c-note-soft: var(--vp-c-indigo-soft);
}

* {
  border-radius: 0 !important;
}

html {
  font-optical-sizing: auto !important;
  font-feature-settings: "salt" 1 !important;
}

h1,
h2,
h3,
h4,
.VPNavBarTitle .title {
  color: var(--brand) !important;
}

.VPNavBar.home {
  background-color: var(--vp-nav-bg-color) !important;
  border-bottom: 1px solid var(--vp-c-divider) !important;
}

.VPNavBarMenuLink {
  color: var(--vp-c-text-2) !important;
}

.VPNavBarMenuLink.active,
.VPNavBarMenuLink:hover {
  color: var(--brand) !important;
}

.VPHome {
  margin-bottom: unset !important;
}

.VPHero {
  padding-top: calc(
    var(--vp-nav-height) + var(--vp-layout-top-height, 0px) + 32px
  ) !important;
  padding-bottom: 32px !important;
  background-image: linear-gradient(90deg, var(--grid) 1px, #0000 1px),
    linear-gradient(var(--grid) 1px, #0000 1px) !important;
  background-size: 14px 14px !important;
  border-bottom: 1px solid var(--vp-c-divider) !important;
}

.VPHero .heading {
  gap: 8px !important;
}

.VPHero .name .spinner {
  font-family: "Cascadia Mono", monospace !important;
  padding-left: 16px !important;
}

.VPHero .name .spinner::after {
  content: "";
  display: inline-block;
  width: 1em;
  animation: spinner 1s infinite ease;
}

@keyframes spinner {
  0%,
  100% {
    content: "|";
  }
  25% {
    content: "/";
  }
  50% {
    content: "—";
  }
  75% {
    content: "\\";
  }
}

.VPHero .text {
  line-height: 32px !important;
  font-size: 24px !important;
}

.VPHero .tagline {
  line-height: 20px !important;
  font-size: 12px !important;
}

.VPButton.brand {
  border-color: var(--brand) !important;
  color: var(--background) !important;
  background-color: var(--brand) !important;
}

.VPButton.alt {
  border-color: var(--brand) !important;
  color: var(--brand) !important;
  background-color: var(--background) !important;
}

.VPButton.alt:hover {
  color: var(--background) !important;
  background-color: var(--brand) !important;
}

.VPHome .vp-doc.container {
  padding-top: 16px !important;
  padding-bottom: 16px !important;
}

.VPFooter {
  padding: 24px 24px !important;
}

.VPFooter .container {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  max-width: calc(var(--vp-layout-max-width) - 64px);
}

.VPFooter .message,
.VPFooter .copyright {
  font-family: "Cascadia Mono", monospace !important;
  font-size: 12px !important;
}

.VPFooter a {
  text-decoration-line: none !important;
}

/* prettier-ignore */
:is(.VPButton[href*='://'], .VPButton[target='_blank']):not(:is(.no-icon, svg a, :has(img, svg)))::after {
  display: inline-block;
  margin-top: -1px;
  margin-left: 4px;
  width: 11px;
  height: 11px;
  background: currentColor;
  color: var(--vp-c-text-3);
  flex-shrink: 0;
  --icon: url("data:image/svg+xml, %3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' %3E%3Cpath d='M0 0h24v24H0V0z' fill='none' /%3E%3Cpath d='M9 5v2h6.59L4 18.59 5.41 20 17 8.41V15h2V5H9z' /%3E%3C/svg%3E");
  -webkit-mask-image: var(--icon);
  mask-image: var(--icon);
}

.VPButton::after {
  content: "";
}
