:root {
  --background: #fff;
  --brand: #000;
  --brand-soft: rgba(0, 0, 0, 0.14);
  --border-color: #dedede;
  --border-color-secondary: #f6f6f6;
}

.dark {
  --background: #000;
  --brand: #fff;
  --brand-soft: rgba(255, 255, 255, 0.16);
  --border-color: #3a3a3a;
  --border-color-secondary: #222222;
}

:root {
  --vp-font-family-base: Inter, "Noto Sans SC", sans-serif;
  --vp-font-family-mono: "Cascadia Mono", monospace;
}

:root {
  --vp-c-bg: var(--background);

  --vp-c-border: var(--border-color);
  --vp-c-divider: var(--border-color);
  --vp-c-gutter: var(--border-color);

  --vp-c-brand-1: var(--brand);
  --vp-c-brand-2: var(--brand);
  --vp-c-brand-3: var(--brand);
  --vp-c-brand-soft: var(--brand-soft);
}

* {
  border-radius: 0 !important;
}

html {
  font-optical-sizing: auto !important;
  font-feature-settings: "salt" 1 !important;
}

h1,
h2,
h3,
h4,
.VPNavBarTitle .title {
  color: var(--brand) !important;
}

.VPNavBar.home {
  background-color: var(--vp-nav-bg-color) !important;
  border-bottom: 1px solid var(--border-color) !important;
}

.VPNavBarMenuLink {
  color: var(--vp-c-text-2) !important;
}

.VPNavBarMenuLink.active,
.VPNavBarMenuLink:hover {
  color: var(--brand) !important;
}

.VPHome {
  margin-bottom: 48px !important;
}

.VPHero {
  background-image: linear-gradient(
      90deg,
      var(--border-color-secondary) 1px,
      #0000 1px
    ),
    linear-gradient(var(--border-color-secondary) 1px, #0000 1px) !important;
  background-size: 14px 14px !important;
  border-bottom: 1px solid var(--border-color) !important;
}

@keyframes caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: var(--brand);
  }
}

.VPHero .heading {
  gap: 8px !important;
}

.VPHero .name {
  line-height: 48px !important;
  font-size: 40px !important;

  border-right: 0.2em solid var(--brand);
  white-space: nowrap;
  animation: caret 1s step-end infinite;
}

.VPHero .text {
  line-height: 32px !important;
  font-size: 24px !important;
}

.VPHero .tagline {
  line-height: 20px !important;
  font-size: 12px !important;
}

.VPButton.brand {
  border-color: var(--brand) !important;
  color: var(--background) !important;
  background-color: var(--brand) !important;
}

.VPButton.alt {
  border-color: var(--brand) !important;
  color: var(--brand) !important;
  background-color: var(--background) !important;
}

.VPButton.alt:hover {
  color: var(--background) !important;
  background-color: var(--brand) !important;
}

.VPFooter {
  padding: 24px 24px !important;
}

.VPFooter .container {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  max-width: calc(var(--vp-layout-max-width) - 64px);
}

.VPFooter .copyright {
  color: var(--vp-c-text-3) !important;
  font-family: "Cascadia Mono", monospace !important;
  font-size: 12px !important;
}

@media (min-width: 640px) {
  .VPHero .name {
    line-height: 56px !important;
    font-size: 48px !important;
  }

  .VPHero .text {
    line-height: 32px !important;
    font-size: 24px !important;
  }
}

@media (min-width: 960px) {
  .VPHero .name {
    line-height: 64px !important;
    font-size: 56px !important;
  }

  .VPHero .text {
    line-height: 32px !important;
    font-size: 24px !important;
  }
}

/* prettier-ignore */
:is(.VPButton[href*='://'], .VPButton[target='_blank']):not(:is(.no-icon, svg a, :has(img, svg)))::after {
  display: inline-block;
  margin-top: -1px;
  margin-left: 4px;
  width: 11px;
  height: 11px;
  background: currentColor;
  color: var(--vp-c-text-3);
  flex-shrink: 0;
  --icon: url("data:image/svg+xml, %3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' %3E%3Cpath d='M0 0h24v24H0V0z' fill='none' /%3E%3Cpath d='M9 5v2h6.59L4 18.59 5.41 20 17 8.41V15h2V5H9z' /%3E%3C/svg%3E");
  -webkit-mask-image: var(--icon);
  mask-image: var(--icon);
}

.VPButton::after {
  content: "";
}
